<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="text-align: center;">
    <h1>About this app</h1>
    <p>This app was made for the Congressional App Challenge.</p>
    <p>This app was built to find sponsored videos from your favorite youtubers</p>
    <p>so that you can support your favorite creators and get discounts on some products at the same time.</p>
</body>
</html>